html {
  font-family: "rockwell-nova", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 3em;
}

body {
  font-size: 160%;
  line-height: 1.4;
  @media (min-width: 1240px) {
    max-width: 75%;
  }
}
