<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Access button</title>
    <link rel="stylesheet" href="../../style.css">
  </head>
  <body>
    <h1>Overview of how to create accessible buttons</h1>

    <h2>Primary Button</h2>
    <button type="button" class="btn btn-primary">Button Label</button>

    <h2>Secondary Button</h2>
    <button type="button" class="btn btn-secondary">Secondary Button</button>

    <h2>Disabled / Inactive Button</h2>
    <button type="button" class="btn btn-disabled" disabled>Disabled Button</button>

    <script src="script.js" defer></script>
  </body>
</html>