.portrait-img-container {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 64rem) {
    align-items: flex-start;
  }
}

.portrait-img-wrapper {
  width: 60vw;
  height: auto;

  @media (min-width: 64rem) {
    width: 25vw;
  }
}

.portrait-img-wrapper--home {
  width: 40vw;

  @media (min-width: 64rem) {
    width: 25vw;
  }
}

.portrait-img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
