/* assets/scss/global.scss */

@use 'base';
@use 'typography';
@use 'header';
@use 'footer';
@use 'teaser';
@use 'grids';
@use 'cta';

/* Simple layout for library landing page */
main {
  margin-bottom: 1.75rem;
  @media (min-width: 64rem) {
    max-width: 85%;
    margin: 0 auto;
  }
}

.container {
  padding: 0 1rem;
}

.spacing-mb-s {
  display: block;
  margin-bottom: var(--space-s);
}

.spacing-mb-l {
  margin-bottom: var(--space-l);
}